/*colors seletion
#F9EDDB moccasin
#BF0603 bright red
#8D0801 Dark red

*/

/*css for header navigator */
body{
    font-family: 'Roboto Condenced', sans-serif;
    padding-top: 125px;
    /*color: #8D0801;*/
}
.navbar{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}
.navbar-light .navbar-nav .show>.nav-link {
    color: #BF0603 ;
}
.navbar-light .navbar-nav .nav-link{
    color: #BF0603 ;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #8d0801;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgba(255, 0, 15, 0.65);
}
a{
    font-size: 20px;
    margin: 10px;
    font-family: 'Playfair Display', serif;
}
.navbar{
    padding: 0px 30px;
}
*{
    transition: all 0.3s;}
nav a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 20px;
}
.navbar-inverse{
    background-color:#f00;
}
nav .navbar-toggle {
    margin: 13px 15px 13px 0;
}

.navbar-brand {
    font-size: 30px;
}
nav.navbar.shrink {
    min-height: 35px;
    background-color: #efefefb5;
}

nav.shrink a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 15px;
}

nav.shrink .navbar-brand {
    font-size: 25px;
}
.btn-custom{
    font-size: 20px;
    text-align: left;
    border: 0px;
}
.dropdown-item{
    width: initial;
}

/*css for slider*/
.carousel-item {
    padding: 0pc 30px;
}

/*css for work sectoin*/
.h1, h1 {
    text-underline-position: under;
    padding: 12px;
    text-align: center;
    color: #9e3c39;
    font-family: 'Playfair display';
    text-decoration: underline;
    box-shadow: 1px 4px 11px 0px #c1aead;
}